# unwanted hidden files
.*
!.gitignore

# platform-specific files
Makefile

# build directories
client/build/*
server/build/*
test/ui_colors/build/*

# escaped build files
*.o
test/ui_colors/Makefile
test/ui_colors/Makefile
